.footer{
    border-top: 1px solid rgb(122, 122, 122);
    background-color: rgb(247, 247, 247);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.footer-1{
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 10px;
    padding-top: 5px;
}

.footer-1 a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
}