#logoimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.sub_box{
    margin: 10%;
    margin-top: 8%;
}
.login_box{
    background-color: #F6F6F6;; 
    margin: auto;
    width: 40%;
    padding: 2%;
    padding-top: 5%;
    border-radius: 0.5pc;
    border: 1px solid rgb(182, 182, 182);
}
#id_username{
    margin-top: 0.5pc;
    margin-bottom: 1.5pc;
    margin-left: 3%;
    width: 85%;
    padding: 8px 10px;
    border-radius: 0.3pc;
    border: 1px solid #ccc;
}
#id_password{
    margin-top: 0.5pc;
    margin-bottom: 1.5pc;
    margin-left: 3%;
    width: 85%;
    padding: 8px 10px;
    border-radius: 0.3pc;
    border: 1px solid #ccc;
}
#mylabel{
    margin-left: 0.6pc;
    font-family: 'Times New Roman', Times, serif;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    width: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 1pc;
    margin-left: 4%;
    cursor: pointer;
    border-radius: 3pc;
}
#message-login{
	padding: 0px 0px 0px 0px;
    margin-left: -10px;
    font-size: small;
    font-weight: 500;
}