.popup-page-header{
    border-bottom: 1px solid rgb(148, 148, 148);
    position: fixed;
    width: 100%;
    padding-left: 1.5%;
    background-color: white;
}
.popup-page-title{
    font-weight: 600;
    font-size: small;
    margin: 12px 0px 4px 0px;
    color: #071e31;
    /* display: inline; */
}
.popup-header-action{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin-top: 45px;
    margin-right: 26px;
    align-items: center;
    display: inline-flex;
}