.accrued-treasury-sub-home{
    /* border: 1px solid black; */
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 15px;
}

.accrued-treasury-sub-home-fourth-child{
    grid-column-start: 1;
    grid-column-end: 4;
    
    grid-row-start: 2;
    grid-row-end: 3;
}